//ubuntu
@font-face{
    font-family:'Ubuntu';
    src:url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
    src:url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-style:normal
}
//lato
@font-face{
    font-family:'Lato';
    src:url("../fonts/Lato/Lato-Regular.ttf");
    font-style:normal
}

