






// Typography

$title-family:  'Ubuntu', sans-serif;
$text-body: 'Lato', sans-serif;


/*
    Variables
=============================================
*/

$main-color: #0cc;
$light-gray: #aaa;
$dark-gray:#333333;
$black: #000000;
$white: #ffffff;




