

/*--------------------------------------------------------------
## WooCommerce CSS
--------------------------------------------------------------*/
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{
  border-radius: 2px;
  text-align: center;

}


.woocommerce ul.products li.product a img{
  margin-bottom: 0;

}

.woocommerce ul.products li.product .alaa-product-title-wrap{
  padding: 10px 0 5px;
}


.woocommerce div.product form.cart div.quantity{margin:4px 0}
.woocommerce ul.products li.product h3{
  font-family: $title-family, sans-serif;
  margin: 0 0 4px;
  padding: 0;
  font-size: 18px;
}

.woocommerce ul.products li.product .price{
  font-weight: 500;
  font-size: 15px;
  color: $main-color;
  margin: 0;
}

.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product{
  border:1px solid #e5e5e5;
  padding: 5px;

}


.woocommerce ul.products li.product .price del{
  display: inline;
  color: #999;
  opacity: 1;
}
.woocommerce ul.products li.product .price ins{
  display: inline;
  font-weight: 400;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  color: $main-color;
  border:1px solid $main-color;
  font-size: 0.9em;
  font-weight: 400;
  background: transparent;
  margin:2px;
  padding:8px 13px;
  border-radius: 1px;

}
.woocommerce .quantity .qty{width:4em;}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover{
  background: $main-color;
  color: $white;
}

.woocommerce ul.products li.product .button{
  margin: auto;
  border:1px solid $main-color;
  color:$main-color;
  background: transparent;
  border-radius: 1px;
  display:inline-block;

}

.woocommerce ul.products li.product .button:hover{
  background-color: $main-color;
  color: $white;
}

.woocommerce ul.products li.product .button.loading{
  opacity: 1;
}

.woocommerce a.added_to_cart{
  padding-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 25px;
  font-size: 13px;
}

#add_payment_method table.cart input, .woocommerce-cart table.cart input, .woocommerce-checkout table.cart input{
  line-height: inherit;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text{
  width:auto;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
  border-color: $main-color;
  background-color: transparent;
  color:$main-color;

}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover{
  background: $main-color;
  color: #FFF;
}

.woocommerce nav.woocommerce-pagination ul{
  border: 0;
  margin: 0;
}

.woocommerce nav.woocommerce-pagination ul li{
  border: 0;
  margin: 0 4px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span{
  display: block;
  background: transparent;
  color: $main-color;
  padding: 8px 12px;
  line-height: 1;
  border: 1px solid $main-color;
  border-radius: 2px;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current{
  background: $main-color;
  color: #FFF;
}

.woocommerce span.onsale{
  min-height: 0;
  min-width: 0;
  padding: 0 15px;
  font-weight: 400;
  line-height: 26px;
  border-radius: 0;
  background-color: $main-color;
  color: #fff;
  font-size: 14px;
  margin: 10px 0 0 -6px;
  top: 0;
  left: 0;
}

.woocommerce span.onsale:after{
  border-color: transparent #0cc #0cc transparent;
  border-width: 3px;
  border-style: solid;
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
}

.woocommerce ul.products li.product .onsale{
  margin: 10px -6px 0 0;
}

.woocommerce ul.products li.product .onsale:after{
  border-color: transparent transparent #0cc #0cc;
  border-width: 3px;
  border-style: solid;
  right: 0;
  left: auto;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price{
  color: $main-color
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins{
  font-weight: 400;
}

.woocommerce .product_meta{
  font-size: 15px;
}

.woocommerce .product_meta a{
  color: inherit;
}

.woocommerce .product_meta a:hover{
  color: $main-color;
}

.woocommerce div.product .woocommerce-tabs ul.tabs{
  padding: 0;
  border-bottom: 2px solid $main-color;
  padding-bottom: 10px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs:before{
  display: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  padding: 8px 15px;
  font-weight: 400;
  color:$main-color;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: 1px solid $main-color;
  background-color: transparent;
  border-radius: 0;
  margin: 0 6px 0 0;
  padding: 0 20px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
  background: $main-color;
  color:$white;
}



.woocommerce #reviews #comments h2,
.woocommerce #reviews h3{
  font-size: 22px;
  margin-bottom: 30px;
}

.woocommerce-Reviews .comment-form-author,
.woocommerce-Reviews .comment-form-email{
  width: 100%;
}

.woocommerce-Reviews .comment-form-author input,
.woocommerce-Reviews .comment-form-email input{
  width: 100%;
}

.related.products h2{
  margin-bottom: 30px;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled, .woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled]{
  background: transparent;
  padding: 10px 20px;
  color: #999;
  border:1px solid #999;
}

.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover{
  background:#eee ;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover{
  background:#999 ;
  color: #FFF;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button{
  line-height: 40px;
  font-size: inherit;
  padding: 0;
}

.select2-container .select2-choice{
  border: 1px solid #EEE;
  font-size: 0.9em;
  color: inherit;
  border-radius: 0;
}

.select2-results{
  font-size: 0.9em;
  color: inherit;
}

.select2-drop-active{
  border-color: #EEE;
}

.select2-drop.select2-drop-above.select2-drop-active{
  border-color: #EEE;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message{
  border-top-color: $main-color;
  font-size: 0.9em;
}

.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before{
  color: $main-color;
}

.woocommerce-error a.button,
.woocommerce-info a.button,
.woocommerce-message a.button{
  padding: 5px 20px;
  height: auto;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th{
  font-weight: 400;
}

#customer_details{
  margin-bottom: 40px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register{
  border: 1px solid #EEE;
  border-radius: 0;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order{
  float: none;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li{
  padding-top: 4px;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a{
  font-weight: 400;
}

.woocommerce a.remove{
  font-family: Arial;
  font-weight: normal;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove{
  top: 8px;
}

.woocommerce .widget_layered_nav ul li{
  padding: 5px 0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: $main-color;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
  background-color: $main-color;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #EEE;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
  height: 20px;
  width: 20px;
  top: -6px;
  margin-left: -10px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul{
  list-style: none;
}

.woocommerce-MyAccount-navigation-link a{
  background: transparent;
  color: $main-color;
  padding: 7px 15px;
  margin-bottom: 5px;
  display: block;
  border:1px solid $main-color;
}

.woocommerce-MyAccount-navigation-link.is-active a,
.woocommerce-MyAccount-navigation-link a:hover{
  background: $main-color;
  color:$white;
}




